.darkAboutImage {
    width: 100%;
    height: 230px;
    background-image: url("../images/image-about-dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.lightAboutImage {
    width: 100%;
    height: 230px;
    background-image: url("../images/image-about-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 3rem;

    h3 {
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: .4rem;
        font-weight: $wt700;
    }

    @include desktop {
        grid-column: 2/4;
    }
}