header {
  position: relative;
  width: 100%;
  color: $White;
  background-image: url("../images/mobile-image-hero-1.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;

  nav {
    padding: 3rem 2rem;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 20;

    .nav-header {
      margin: 0 auto;
    }

    #mobile-menu {
      background-color: $White;
      position: fixed;
      display: none;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      padding-bottom: 3rem;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      font-weight: $wt700;
      text-transform: lowercase;
      font-size: 1.25rem;

      &::before {
        content: "";
        position: absolute;
        top: 5.25rem;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: $Black;
        opacity: 0.4;
        z-index: 0;
      }
    }
  }

  #desktop-nav {
    display: none;
  }

  @include desktop {
    color: $White;
    grid-row: 1/2;
    grid-column: 1/3;
    height: 100%;
    background-image: url("../images/desktop-image-hero-1.jpg");
    #burgerMenu {
      display: none;
    }

    nav {
      width: 100%;
      padding: 4rem;
      
      .nav-header {
        margin: 0;
        margin-right: 2rem;
      }
    }

    #desktop-nav {
      display: flex;
      gap: 2rem;
      align-content: flex-end;
      font-size: 1.5rem;
      text-transform: lowercase;

      a,
      li {
        color: $White;
      }
    }
  }
}
